
*.p12
target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

.vscode
*.json

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.iml
